---
layout: default
title: Yash Kodali's Website
description: Personal website of Yash Kodali
permalink: /
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W9NMDKRYXB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W9NMDKRYXB');
</script>

<div class="sm:flex sm:flex-row-reverse justify-between items-center">
  <img class="h-24 w-24 sm:h-36 sm:w-36 mb-6 sm:mb-0" src="/assets/images/yash.webp" alt="Yash Kodali" />
  <div class="sm:mr-16">
    <h2 class="font-black">
      Yash Kodali
    </h2>
    <span class="text-slate-500 dark:text-slate-300">University Student</span>
    <p class="mt-6 dark:text-gray-400">Hi! I'm an undergrad at UC Berkeley, studying Electrical Engineering and Computer Sciences (EECS). My background is in writing software, mathematics, AI, and robotics. In my free time, I enjoy exploring new topics in STEM, playing Go, card games, and listening to music.</p>
    <div class="mt-4 -ml-2 flex">
      <a
        href="https://github.com/YashCK"
        class="underline-none round-button mr-2"
        aria-label="Visit Yash's GitHub profile">
        {% include github_svg.html %}
      </a>
      <a
        href="https://www.linkedin.com/in/yash-kodali-2b4a43285/"
        class="underline-none round-button ml-2"
        aria-label="Visit Yash's LinkedIn profile">
        {% include linkedin_svg.html %}
      </a>
    </div>
  </div>
</div>

<div class="mt-14">
  <h2 class="font-black">
    Technical Courses
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">These are the courses that I have taken so far.</p>

  <!-- Spring 2024 -->
  <p class="mt-2 text-slate-500 dark:text-slate-300">Spring 2024</p>
  <!-- <div class="mt-6"> -->
    <div class="insight">
      {% include right_arrow.html %}
      <p>EE 123: <span> Digital Signal Processing </span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EE C128: <span>Feedback Control Systems</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EECS 219A: <span>Numerical Simulation and Modeling</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 170: <span>Efficient Algorithms and Intractable Problems</span></p>
    </div>
    Course Staff
    <div class="insight">
      {% include right_arrow.html %}
      <p>EE 122 (Reader): <span>Introduction to Communication Networks</span></p>
    </div>
  <!-- </div> -->


  <!-- Fall 2023 -->
  <p class="mt-2 text-slate-500 dark:text-slate-300">Fall 2023</p>
  <!-- <div class="mt-6"> -->
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 61C: <span> Great Ideas of Computer Architecture (Machine Structures) </span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EECS 126: <span>Probability and Random Processes</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EECS 127: <span>Optimization Models in Engineering</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EE 120: <span>Signals and Systems</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 198: <span>Introduction to Competitive Programming and Algorithms </span></p>
    </div>
  <!-- </div> -->
  
  <!-- Spring 2023 -->
  <p class="mt-2 text-slate-500 dark:text-slate-300">Spring 2023</p>
  <!-- <div class="mt-6"> -->
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 61B: <span>Data Structures</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EECS 16B: <span>Designing Information Devices and Systems II</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 70: <span>Discrete Math and Probability Theory</span></p>
    </div>
  <!-- </div> -->

  <!-- Fall 2022 -->
  <p class="mt-2 text-slate-500 dark:text-slate-300">Fall 2022</p>
  <!-- <div class="mt-6"> -->
    <div class="insight">
      {% include right_arrow.html %}
      <p>CS 61A: <span>The Structure and Interpretation of Computer Programs </span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>EECS 16A: <span>Designing Information Devices and Systems I</span></p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p>Math 54: <span>Linear Algebra and Differential Equations</span></p>
    </div>
  <!-- </div> -->

</div>

<!-- <div class="mt-16">
  <h2 class="font-black">
    Awards &amp; Achievements
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">Some of my wins in the past</p>
  
  <div class="mt-6 gap-4 grid grid-flow-row">
    {% assign achievements = 'google-associate,atlas-fellowship' | split: ',' %}

    {% for str in achievements %}
      {% for achievement in site.data.achievements %}
        {% if achievement[0] contains str %}
          {% include achievement.html %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/wins"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div> -->

<!-- <div class="mt-16">
  <h2 class="font-black">
    Work Experience
    <p class="mt-2 text-slate-500 dark:text-slate-300">Organizations that I've contributed to</p>
    <div class="mt-6">
    {% assign workexp = site.data.workexp | reverse %}
    {% for job in workexp %}
      {% include job.html %}
    {% endfor %}
    </div>
  </h2>
</div> -->

<div class="mt-16">
  <h2 class="font-black">
    Featured projects
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">Projects that I'm proud of</p>

  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 sm:grid-cols-3">
    {% assign projects = 'math-library,pandasurf,rl-mario-bros' | split: ',' %}

    {% for project in site.data.projects %}
      {% if projects contains project[0] %}
        {% include project.html %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/projects"
      class="mt-8 px-3 py-2 link-button">
      View all projects &gt;
    </a>
  </div>
</div>

<!-- <div class="mt-16">
  <h2 class="font-black">
    Featured articles
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">Articles that I'm proud of</p>

  <div class="mt-6 gap-4 grid grid-flow-row">
    {% assign articles = 'swipe-animations,3-years,android-application-fundamentals' | split: ',' %}

    {% for str in articles %}
      {% for article in site.data.articles %}
        {% if article[0] contains str %}
          {% include article.html %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/articles"
      class="mt-8 px-3 py-2 link-button">
      View all articles &gt;
    </a>
  </div>
</div> -->

<!-- <div class="mt-16">
  <h2 class="font-black">
    Testimonials
  </h2>
  <p class="mt-2 text-slate-500 dark:text-slate-300">What people say about me</p>
  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 md:grid-cols-3">
    {% for testimonial in site.data.testimonials limit: 3 %}
    {% include testimonial.html %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/testimonials"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div> -->

<h2 class="mt-16 font-black">
  Contact
</h2>
<p class="mt-2 text-slate-500 dark:text-slate-300">Ways you could reach out to me.</p>

<div class="mt-6 text-lg">
  <p>Email: yash [dot] kodali [at] berkeley [dot] edu</a>.</p>
</div>
